[2021-03-28 13:40] AlexMikhalev opened #5 "Add user: $UID:$GID to docker compose"
Proposal
add
user: $UID:$GID to docker-compose or docker run commands to prevent iCloud files being synced under root.
[code]
and docker-compose sampled changed:
[code]

[2021-03-28 16:34] AlexMikhalev commented on #5
Answering my own request: there is a bug in python os.pwd() which will fail if the user doesn't exist and doesn't have home dir,
Trying from this gist [user-remap](https://gist.github.com/heyfluke/b8372df866ec2584f9a51ca7d7fe9ebb)

[2021-03-29 00:47] #5 closed, assigned to mandarons

[2021-04-02 18:32] mandarons opened #8 "Enable folder syncing without file_extensions"
Reference: #7

Use case: As a user, I want to sync all the files in specific folder without filtering anything so that I can have a complete local copy.

[2021-04-02 18:36] #8 closed, assigned to mandarons

[2021-04-07 19:25] AlexMikhalev opened #11 "[BUG] Crash with KeyError: 'data_token'"
I tried to use newest version published and successfully authenticated and started downloading all files in Documents folder, then suddenly icloud crashed on sync:

[code]

[2021-04-07 23:43] mandarons commented on #11
@AlexMikhalev: Thanks for submitting the issue. 👍

It looks like the underlying pyiCloud library failed to process iCloud server response. There is an open PR https://github.com/picklepete/pyicloud/pull/316 to fix this. I guess, we will have to wait for the fix to get onto master/main branch of pyicloud library. Also, this seem to be the problem with Keynote files. They don't have data_token but h

[2021-04-09 00:25] mandarons commented on #11
Fixed in [Release 1.1.1](https://github.com/mandarons/icloud-drive-docker/releases/tag/v1.1.1)

[2021-04-09 18:25] AlexMikhalev commented on #11
Hello, @mandarons,
How can I make sure I am running the latest release with docker? Crashed at the same place:

[code]

[2021-04-09 23:14] mandarons commented on #11
That's weird. Did you recreate the container after pulling the latest image? If yes, please share output of following command:

`docker exec -it <name_of_the_container> /bin/sh -c "sed -n 87p src/sync.py`

[2021-04-10 20:17] AlexMikhalev commented on #11
docker exec -it icloud-drive /bin/sh -c "sed -n 87p src/sync.py"
    except (exceptions.PyiCloudAPIResponseException, FileNotFoundError) as e:

I see - it should have an exception. Let me try to re-create.

[2021-04-11 21:32] AlexMikhalev commented on #11
works after re-creating - I restarted container after pool and it wasn't enough.

[2021-08-01 17:10] RusticPotatoes opened #24 "iCloud Application Folders Do Not Sync"
**Describe the bug**
Application folders do not sync, root folders are created but no sub folders or files are downloaded.

**To Reproduce**
Steps to reproduce the behavior:
1. For instance, a note taking app like Obsidian creates an application folder on iCloud Drive to have all your notes synced across all devices.
2. In the configuration, comment out any and all include folder or include files

[2021-08-01 17:50] mandarons commented on #24
@RusticPotatoes : Looking into it. Which version are you using? Can you please share your `config.yaml` file? I am not able to reproduce it.

[2021-08-02 12:28] RusticPotatoes commented on #24
[config.yaml.txt](https://github.com/mandarons/icloud-drive-docker/files/6916820/config.yaml.txt)

[2021-08-02 20:37] mandarons commented on #24
@RusticPotatoes : Thanks. Looks like you have verbose mode enabled (`verbose: true`) in the config file. Do you see any error message in container logs? If yes, please share.

[2021-08-02 23:10] RusticPotatoes commented on #24
@mandarons , the logs don't show anything.  Because the folder is created it just skips over it as if it is empty, no logs nothing.  If there wasn't a folder it would log the folder creation, but wont create any sub directories.

Screenshot below of what I'm talking about from my iPad, from the files app you can see folders with icons on them do not sync any contents. Not sure if it's a permission

[2021-08-03 03:31] mandarons commented on #24
@RusticPotatoes that's weird. I see that you don't have file extension filters. So, it should sync all the files.

Possibilities:

* There is a known issue in PyiCloud related to some files not syncing (https://github.com/picklepete/pyicloud/pull/316). Not sure if it is related.
* Permissions issue.

Troubleshoot suggestions:
* I know that `Files` app is very unstable. Do you see these files on `i

[2021-08-03 14:09] RusticPotatoes commented on #24
@mandarons my responses below,

Possibilities:

- Keyerror data token could be an issue, a few times I've had to re-authenticate
- Not sure how to check if it's a permissions issue

Troubleshooting suggestions:

- Yes I see the files on iCloud.com
- When I get to the last step of the code sample I get a 503 error
`File Storage
Traceback (most recent call last):
  File "<ipython-input-26-a3164ef543

[2021-08-03 14:16] RusticPotatoes commented on #24
@mandarons , I wonder if this is my issue https://github.com/picklepete/pyicloud/pull/343

[2021-08-03 14:41] mandarons commented on #24
@RusticPotatoes: Yes, looks like https://github.com/picklepete/pyicloud/pull/343 is the solution. We will have to wait until it gets merged.

[2021-08-11 04:16] mandarons opened #25 "[FEATURE] Move CI,CD fully to GitHub Actions"
**Use case**
As a developer of this repo, I want to move CI,CD fully to GitHub Actions so that I can keep the infrastructure cost to a minimum.

**Describe the solution you'd like**
1. Enable gh-pages based badges, test report and coverage reports.
2. Remove external dependencies
3. Simplify PR flow

**Describe alternatives you've considered**
Jenkins, Drone CI and others.

**Additional context**

[2021-08-11 04:19] mandarons opened #26 "[FEATURE] Enable linux/arm64 and linux/arm/7 architectures"
**Use case**
As a raspberry-pi owner, I want to set up iCloud Drive on raspberry-pi so that I can keep the cost of HW lower.

**Describe the solution you'd like**
1. iCloud-drive-docker runs on ARM64 architectures.

**Describe alternatives you've considered**
None available

**Additional context**
ARM64 based systems are now increasingly popular due to lower TCO and power consumption.

[2021-08-11 15:46] mandarons commented on #25
Available in `main` branch.

[2021-08-11 15:46] #25 closed, assigned to mandarons

[2021-08-11 20:06] mandarons commented on #26
Available on `main` branch.

[2021-08-11 20:06] #26 closed, assigned to mandarons

[2021-10-03 12:45] teewz opened #33 "[FEATURE] explicitly mention in the readme that this app only syncs one way"
hey thanks for the neat app, just a quick thought from looking at the readme:
A mention that the goal of this project is to sync ONE WAY, not both ways could be helpful.
If one stumbles on this project looking for a way to sync icloud drive to another location and also sync TO icloud, from readding the description one might think this is the tool for the job.

[2021-10-05 00:17] #33 closed, assigned to mandarons

[2021-11-22 12:26] simonszu commented on #24
It looks like the pyicloud project is dead. There have been no commits since February, and issues are unanswered.

[2021-11-22 22:47] mandarons commented on #24
Yeah, that's sad. I will see if I can fork their repo, pull in some changes and use it instead. I have plan (but not time yet) to build pyicloud-like library for files and photos, to enable two-way sync.

[2022-01-03 04:23] robdejonge commented on #11
Brought up the container, entered the password, then:
[code]
I'm still getting the `data_token` errors though.

Am I doing something wrong?

[2022-01-03 04:33] robdejonge opened #35 "Single-fire option"
**Use case**
Running the container as a script, just execute a single cycle

**Describe the solution you'd like**
While the container could be up and running and set with whatever poll frequency desired, for my use-case the polling is infrequent and upon request really. I'd like to be able to run the container with a single sync cycle instead of polling. Maybe if it's set to 0 or something?

**Des

[2022-01-03 14:59] nicx opened #39 "Docker Hub Tags latest/main mismatched"
As you can see here https://hub.docker.com/r/mandarons/icloud-drive/tags there is a difference between "main" and "latest". I was struggeling about tha becaue I always use the "latest" flag, but in this case this was just not the newest/latest verison but an older one. Or in other words: "main" is newer than "latest" on docker hub ;)

Can you please correct this? Thanks :)

[2022-01-05 09:41] robdejonge commented on #35
Was reading [the source code](https://github.com/mandarons/icloud-drive-docker/blob/main/src/sync.py) and noticed it actually breaks if the `sync_interval` in the configuration file is set to -1. Confirmed to work as expected. So, feature already exists!

[2022-01-05 09:41] #35 closed, assigned to mandarons

[2022-01-05 11:56] nicx opened #40 "[FEATURE] Download all photos independent from albums"
I am not using albums in Apple Photos at all, so I just want to download all photos/videos in the whole library.

In best case, if no album is configured in the config.yaml, icloud-drive-docker would do that automatically, so that could be the default fallback behavior.

How the downloaded photos are structured on the file system should be configurable (ie folders for year and month).

The solutio

[2022-01-06 01:44] mandarons commented on #39
@nicx that's correct and expected behavior. I have two types of releases on hub.docker.com - development and official. Development release is straight out of `main` branch of this repository. It is the work in progress and may not be stable to be used in production. It is a common practice to use branch name i.e. `main` in this case, as tag name for Docker image.

If no tag is specified, Docker by

[2022-01-06 01:49] mandarons commented on #35
I love it when the issues gets closed without me doing anything. Thank you for taking some time to look into the code. 👍

[2022-01-06 18:31] nicx commented on #39
@mandarons thanks for clarification. Until now I never heard of "main" is a develoment or unstable branch, therfore i;my experience main should be teh same as latest, and in addition there should bema development branch. But anyway... thanks again ;)

[2022-01-06 18:33] #39 closed, assigned to mandarons

[2022-01-13 05:25] #40 closed, assigned to mandarons

[2022-01-13 07:25] nicx opened #42 "[FEATURE] make renaming of photos on download configurable"
As a user I want to download all my photos independently form albums in a flat way. As of today this is working, but the photos are renamed to "IMG_4727__original.HEIC". I want them to keep the original name, so the photo should keep "IMG_4727.HEIC" as name for the original filesize.

Therfor it would be great if the renaming function would be optional. Or even better: the "append" variable for na

[2022-01-14 04:06] mandarons commented on #42
Removal of `__original` for original quality make sense. Allowing user to customize file naming can be error prone.

[2022-01-14 19:54] #42 closed, assigned to mandarons

[2022-01-15 19:49] roberto2lini opened #47 "iCloud Password Not Saving"
Hi! Thanks for your work.

Im having some trouble getting it to save the iCloud password. I do get a login notification e-mail from icloud once I initially setup the authentication, but it doesnt seem to get saved in the keychain/start to sync in the container.

More users have reported this here:

https://www.reddit.com/r/docker/comments/s4cqd5/dockerized_icloud_now_with_photos/?user_id=71826092&

[2022-01-15 23:54] mandarons commented on #47
I see that in your `docker run` command above, you're not mapping `config.yaml`.

Sorry, my bad - I see that in [README](https://github.com/mandarons/icloud-drive-docker#readme), I didn't specify `config.yaml` file mapping in `docker run` command but I do have it in `docker-compose.yaml` example. I updated the [README](https://github.com/mandarons/icloud-drive-docker#readme).

Please make sure tha

[2022-01-16 12:31] roberto2lini commented on #47
That works for me! 👍 Thanks a lot!

[2022-01-16 12:31] #47 closed, assigned to mandarons

[2022-01-21 06:26] reedhaffner opened #48 "[FEATURE] Ignore Files"
**Use case**
I have some projects in my iCloud documents with .git and node_module folders that i don't really need to sync.

**Describe the solution you'd like**
Add an `ignore` to the yml. Allow direct paths or asterisks
eg,
[code]

[2022-01-23 04:06] #24 closed, assigned to mandarons

[2022-01-24 14:55] mandarons commented on #11
@robdejonge : which version are you using?

[2022-01-24 16:32] jeff47 commented on #48
Agreed, would be a very useful addition both for paths and extensions.

For backups, I prefer the strategy of "back it up unless I say not to" instead of "only back it up if I say so".

[2022-01-24 23:45] jeff47 opened #50 "[BUG] KeyError: 'medium' in photo_exists"
**Describe the bug**
An error occurs during the process_photo routine.  Other files seem to download fine.

[code]

**Configuration**
Standard config, with file_sizes set to original & medium.

[2022-01-25 03:46] robdejonge commented on #11
@mandarons I don't know how to find the version number, but given I downloaded it more than 10 days and less than 5 months ago, I'm going to venture I'm using version 1.5.0 of the image published on Docker Hub. Which I'm hoping will have had any changes made to the code before April 12th last year.

[2022-01-25 05:06] mandarons commented on #50
Interesting. It looks like for some of your photos, `file_size` medium does not exist. I will fix it by skipping the missing file sizes.

[2022-01-25 12:34] jeff47 commented on #50
Yes - I wonder if this caused the issue I mentioned on reddit, where not all my photos were downloading.  If it hit this error, would it stop iterating and interrupt the download process for the remaining photos?  Possibly needs a more graceful response if this situation is encountered.

[2022-01-25 15:28] mandarons commented on #50
Yeah, I suspect that's the reason.

[2022-01-26 00:20] #50 closed, assigned to mandarons

[2022-01-26 01:06] mandarons commented on #50
Please try with docker tag 'main' and see if that fixes the issue.

[2022-01-26 01:08] mandarons commented on #11
Okay. Please try again with version 1.7.0.

[2022-01-26 04:00] robdejonge commented on #11
Stopped and removed the container, removed the image, started `docker-compose` so that the latest image would be downloaded. Same result, still full of `data_token` errors.

My `docker-compose.yaml`:
[code]

My `config.yaml`:
[code]

For what it's worth: A total of 49 files out of 965 (5%) yielded this error. I could not discern any common characteristics among those files, in terms of file types

[2022-01-26 08:54] robdejonge opened #52 "[BUG] No photos configuration, but all are downloaded"
**Describe the bug**
Although the configuration file has separate sections to configure the download of drive and of photos, omitting the photos section does not seem to omit the download of all photos. This could be by design, but seemed counterintuitive to me. Especially because it seems the `photos` section does not seem to have a disable setting, or a filter that would match all files possible

[2022-01-26 14:32] mandarons commented on #52
Well, that's embarrassing. I clearly haven't thought of this obvious use case. Thank you for submitting the request. I will fix it soon.

[2022-01-26 17:59] #52 closed, assigned to mandarons

[2022-01-26 20:01] mandarons commented on #11
Can you paste error details with traceback information?

[2022-01-27 02:28] jeff47 opened #54 "[FEATURE] Different schedules for drive & photo downloads"
**Use case**
I have a lot of photos stored, but they don't change that often.  It would be nice to be able to have a more frequent sync for the drive files, and a different schedule for photos.

[2022-01-27 05:22] robdejonge commented on #11
There is no traceback information. The container log shows 49 instances of
[code]
In my case, 38 of them are `.pages` documents, but I also have many such documents that downloaded just fine.
Several other file types, in all cases also other documents of the same type that downloaded just fine.

[2022-01-27 05:23] robdejonge commented on #52
Awesome, thank you so much for the quick action!

[2022-01-27 15:58] mandarons commented on #11
Previous fix was to skip the erroneous file. Root cause of this issue is now in [icloudpy](https://github.com/mandarons/icloudpy) library, which I should be able to fix now. Reopening this issue ...

[2022-01-28 00:38] #11 closed, assigned to mandarons

[2022-01-28 01:33] mandarons commented on #11
@robdejonge : Feel free to try the fix with docker image tag `mandarons/icloud-drive:main` (from `main` branch).

[2022-01-28 04:49] robdejonge commented on #11
Not only did you fix the issue (all the files previously triggering a `data_token` error no longer do), it seems as if the whole thing executes a lot faster. Thanks very much for the effort to getting this resolved!

[2022-02-01 14:53] brodybuster opened #57 "Error when syncing"
This looks like a promising project that I would really like to get working. I installed per the readme. Getting the following error when attempting to sync:

Traceback (most recent call last):
  File "/app/./src/main.py", line 6, in <module>
    sync.sync()
  File "/app/src/sync.py", line 28, in sync
    config=config, photos=api.photos, verbose=verbose
  File "/app/venv/lib/python3.9/site-packag

[2022-02-04 01:57] mandarons commented on #57
This seems like your iCloud settings issue. Per https://github.com/icloud-photos-downloader/icloud_photos_downloader/issues/107#issuecomment-534162296, it looks like you need to enable auto-upload option in iPhone (Settings > Your Name > iCloud > Photos > iCloud Photos set to ON). Confirm that it is working by taking a photo from iPhone and seeing it on iCloud.com.

[2022-02-04 02:38] brodybuster commented on #57
All my devices have auto-upload (iCloud sync) enabled, so I don't think that is the issue.

[2022-02-04 04:03] mandarons commented on #57
It's going to be challenging to fix this as I cannot reproduce it. I will still try.

Which version of iOS are you using?

[2022-02-08 02:28] edsw opened #58 "Hang during drive downloads"
**Describe the bug**
The sync process consistently hangs during downloading large Drive objects. The log outputs "Downloading [file name]..." but never returns or prints other output, even after waiting hours. The Docker task continues to run, however. Small files preceding the large file download fine.

**Configuration**
Latest commit from the Git repo. Docker version 20.10.12, build e91ed57.

I

[2022-02-08 02:31] mandarons commented on #58
How big is the file?

[2022-02-10 01:45] edsw commented on #58
Various sizes between 4GB and 23GB. Sometimes the larger files transfer OK, but often they just hang at that `copyfileobj` call.

Edit: The script just stopped processing on a much smaller 24MB file, as well.

[2022-02-10 15:13] mandarons commented on #58
Can you check if file size of the file being downloaded is increasing while the script appears to be stuck at `copyfileobj`?
You can use `tail -f -c 1 <file_path> | pv > /dev/null` to check if file is growing.
Did it work in the past?

[2022-02-10 15:33] edsw commented on #58
You can use tail -f -c 1 <file_path> | pv > /dev/null to check if file is growing.

The file is not growing. `pv` shows `[0.00 B/s]` over a time period of a few minutes.

No, I've never had the script successfully complete a sync against my iCloud Drive. It always ends up hanging on a file at some point. When I restart the container it will make progress past the point of past failures, but then e

[2022-02-10 18:50] mandarons commented on #58
Okay. Something is unique about your iCloud Drive/environment that's making it tricky. Let's see if we can isolate the problem.

Can you please execute below script 'inside' the container?

[code]
And then execute below script 'inside' the container -
[code]
Then run both the scripts above, outside the container (on your host system, using python 3.9.10). We are trying to see if anything wrong wit

[2022-02-12 16:01] marcovn opened #63 "[BUG] error when processing filtered folders when name is a number"
If you want to filter drive folders that have a numeric name (e.g. "2022") the code fails and stops processing.

Create a folder named 2022 and put some files in there. Configure config.yaml something like this:

[code]

Now when you run the container the error below will be shown.

[code]

[2022-02-14 17:34] #54 closed, assigned to mandarons

[2022-02-14 18:22] mandarons commented on #63
As a workaround, try specifying numbered folder names in quotes e.g. "2022". I will also update the documentation get it fixed.

[2022-02-14 18:37] #63 closed, assigned to mandarons

[2022-02-14 18:56] mandarons opened #66 "[FEATURE] Persisting session during container recreation"
**Use case**
As a user, I want to not re-login when 2FA isn't expired and container is recreated so that I can create the container temporarily for syncing.

**Describe the solution you'd like**
User is not required to reenter credentials when 2FA isn't expired but container is recreated.

**Describe alternatives you've considered**
Can be scripted but it's less productive/stable.

**Additional co

[2022-02-14 18:59] mandarons opened #67 "[FEATURE] Optionally pass password from environment variable"
**Use case**
As a user, I want to pass password through environment variable `ICLOUD_PASSWORD` so that I don't have to enter it manually.

**Describe the solution you'd like**
Ability to pass password through environment variable in container

**Describe alternatives you've considered**
Passing through `config.yaml`. Generally environment variables are considered as more secure than plain-text fil

[2022-02-16 02:22] edsw commented on #58
Thanks. Here are the results of the tests:

- Inside container, no buffer size provided `execution time: 84.42804741859436 seconds`
- Inside container, buffer size provided `execution time: 83.96192908287048 seconds`
- Outside container, no buffer size provided `execution time: 26.988187074661255 seconds`
- Outside container, buffer size provided `execution time: 29.866533756256104 seconds`

[2022-02-17 03:15] markjgardner commented on #67
I ended up solving for this (partially) by using [icloud-photos-downloader](https://github.com/icloud-photos-downloader/icloud_photos_downloader) instead which supports feeding the credentials as arguments. This specifc solution is less secure and the general solution is a bit narrower scope than this project (photos only). My solution is [here](https://github.com/markjgardner/icloud-extractor).

[2022-02-17 14:46] mandarons commented on #67
If you don't mind passing password as plain-text, you can use following command for login:
`docker exec -it icloud /bin/sh -c "icloud --username=<icloud-username> --password=<icloud-password>"`

If you have 2FA enabled, you will need to provide 2FA code manually though.

[2022-02-18 04:44] #67 closed, assigned to mandarons

[2022-02-20 00:53] #66 closed, assigned to mandarons

[2022-02-20 01:27] natelandau opened #72 "SMTP server closes connection"
First off, thank you so much for this fantastic project.  It is exactly what I was looking for without even knowing I was looking for it.

**Describe the bug**
When booting the container I do not receive an email that my account credentials are not available.   I see this error n the logs:

[code]

 I have rechecked my SMTP address, username, password, and port multiple times.  I have also switch

[2022-02-21 14:45] mandarons commented on #72
Looks like you're using TLS but specified SSL port. According to https://www.fastmail.help/hc/en-us/articles/1500000279921-IMAP-POP-and-SMTP#smtp, port should be `587`.

Try setting `port: 587`

[2022-02-28 11:07] andressoler opened #76 "Some already downloaded files are downloading again on every pass..."
First things first... Thanks so much @mandarons, this project is what I've looking for since years... I appreciate so much your efforts on this...

**Describe the bug**
Some files are downloaded on every pass, even if the file already exists and no changes have occurred on it... Usually this issue is related to MacOS packages, which are downloaded as a file, instead of as a directory, but I have a

[2022-03-20 02:24] #57 closed, assigned to mandarons

[2022-03-21 18:04] #72 closed, assigned to mandarons

[2022-04-06 08:15] andressoler commented on #76
Hello @mandarons...

Have you had a chance to take a look on this?

Thanks so much!!!

[2022-04-12 14:09] mandarons commented on #76
That's weird. Files code compares date modified and size (local vs remote) to determine if file should be downloaded or not. For Photos, it compares file size (local vs remote).

I will see if I can reproduce it (somehow).

[2022-04-12 14:13] mandarons commented on #58
@edsw do you still see this issue?

[2022-04-13 09:30] andressoler commented on #76
Thanks @mandarons!

Yes, I agree, it is weird... I supposed your code compares date and size... I have been researching a little bit, and I can assert when the files are re-downloaded, they remain with the same size and date...

I am Spanish (located in Spain)... I was wondering if some local settings are involved here, like date format or special characters (I don't think so but, who knows), but

[2022-04-13 13:25] mandarons commented on #76
Thanks, @andressoler. Let's log more information to see what's exactly happening. I will create a dev build with more logging, for you. Which docker image are you using - linux/386, linux/amd64, linux/arm/v7 or linux/arm64?

[2022-04-13 14:52] andressoler commented on #76
Hey @mandarons... That sounds great!!!

I'm running amd64 version on a Synology using docker-compose:

[code]

Those are the instance details:

[code]

Thanks!

[2022-04-14 02:22] mandarons commented on #76
@andressoler the build is ready. Please use docker image tag `mandarons/icloud-drive:main`, set the `logger > level` to `debug` in `config.yaml` file. Share the logs here.

[2022-04-14 10:29] andressoler commented on #76
Hello @mandarons,

I have just run the last version for about an hour (I have user another account with less files, just for simplify)...

I share the logs below:

[iCloud_logs.txt](https://github.com/mandarons/icloud-drive-docker/files/8488364/iCloud_logs.txt)

In my opinion, I think there is a problem comparing remote and local file size... I am not sure why... These are the changes so far:
[cod

[2022-04-15 02:03] mandarons commented on #76
It looks like remote file size is always greater than local file size. This means downloading is not getting completed for some reason. In second run, it looks like size of local file is increased only by 1 byte for some of the files.

Can you please check if all of these local files open fine?
Also, can you download these files from iCloud.com and see if their local file size is exactly same as r

[2022-04-15 08:32] andressoler commented on #76
Ok, that is what I found so far...

These are my local files (size is not the same as remote):

[code]

They cannot be opened... They appear as corrupt...

The funny thing is when I try to download them from iCloud Web, as they are a package (instead of a file), iCloud download it as a ZIP file... Wen I unzip it locally, my Mac recognizes it as a package, and I can open it without problems...

A M

[2022-04-15 13:34] mandarons commented on #76
Looks like problem is with `.band` files. Are there any extensions that you see problematic? Do you have sample files that you can share with me to reproduce the issue on my side? Or how can I create them?

[2022-05-06 06:00] xiaotianxt opened #78 "[BUG] Error during 2FA authentification"
**Describe the bug**
After execting the login command given in `README.md`
[code]
The following error shows:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Execute the command above.
2. See error

**Configuration**
If applicable, please share the configuration details

docker-compose.yaml:
[code]

config.yaml:
[code]

[2022-05-07 09:22] andressoler commented on #76
Hello @mandarons!

Sorry for the delay in the response...

I think the problem is related with all MacOS "package" files, that are really a folder with some files within it and iCloud website downloads them as a ZIP (I attach a Pixelmator example):
[393066_00.pxm.zip](https://github.com/mandarons/icloud-drive-docker/files/8644802/393066_00.pxm.zip)

Regards!!!

[2022-05-15 02:23] mandarons commented on #76
Thanks for sharing. I will try to reproduce it on my end.

[2022-05-22 09:31] Mrc527 opened #79 "[FEATURE] File Upload"
**Use case**
As a user, I want to upload local files to iCloud so that I can run bi-directional folder sync.

**Describe the solution you'd like**
I would like the possibility to upload new files/folder or even upload changes on the downloaded files.

**Describe alternatives you've considered**
No real alternatives exist, I have to manually upload files now

**Additional context**
I would try to u

[2022-06-01 15:08] lee13se opened #80 "[FEATURE] Exclude Files and Folders"
**Use case**
As a user, I want to excluded certain directories and files from download based on their name. This would allow excluding ".Trash" and ".Spotlight" folders.  Other users might have interest in excluding files/folder with other patterns, such as all PDF files.

**Describe the solution you'd like**
It the config files allows adding directories that will be included in the download; I th

[2022-06-05 12:20] CombTech opened #81 "[BUG]"
I have set up from the default config.yaml file. iDrive file downloads perfectly,, and there is a refresh for new files every 300 seconds.

However, when I leave the text for photos within the config.yaml I receive the following error;

Traceback (most recent call last):
  File "/app/./src/main.py", line 6, in <module>
    sync.sync()
  File "/app/src/sync.py", line 48, in sync
    sync_photos.syn

[2022-07-08 14:18] #81 closed, assigned to mandarons

[2022-07-15 03:06] mandarons commented on #78
@xiaotianxt is it still a valid bug? Sorry, I didn't get a chance to look at it until now. I am not able to reproduce it.

[2022-07-15 03:33] mandarons commented on #76
@andressoler : are you still seeing this issue?

[2022-07-15 09:37] andressoler commented on #76
@mandarons: Yes, unfortunately i'm still seeing it for some packages...

[2022-07-15 16:22] iPixelOldC commented on #78
yeah, I also encountered this problem. And the pop-up window of 2fa on my mobile phone appeared, but the same error was also reported.
But if you don't appear, I guess it's because Xiao and I both use the Chinese version of iCloud(云上贵州). Maybe that's the problem.
As far as I know, their domain names are different. We use https://www.icloud.com.cn

[code]

config.yaml same

[code]

[2022-07-16 02:46] mandarons commented on #78
@iPixelOldC : Yes! Now that makes a lot more sense to me. It looks like iCloud.com.cn has some different structure for iCloud webservices. Do you mind helping me to confirm that? I would like to see a dump of `self.data` variable shown in the error.

[2022-07-16 03:22] iPixelOldC commented on #78
@mandarons Sure, what should I do?

And I found [icloudpd](https://github.com/boredazfcuk/docker-icloudpd) supports the iCloud CN. Looking at the source code, it just [replaces the domain name](https://github.com/boredazfcuk/docker-icloudpd/blob/b9b0a4feb4bf284974acc62da46e29d7733d4553/sync-icloud.sh#L163). Then I use his container. After opening the [support](https://github.com/boredazfcuk/docker

[2022-07-16 03:47] mandarons commented on #78
1. Run the following command inside container -
`sed -i -e "s#icloud.com/#icloud.com.cn/#" -e "s#icloud.com'#icloud.com.cn'#" "$(pip show icloudpy | grep "Location" | awk '{print $2}')/icloudpy/base.py"`
2. Then try to reproduce the error again

[2022-07-16 04:10] iPixelOldC commented on #78
It seems to work, but it still needs to be modified in one place, otherwise it will report the same webservices error.

[code]
then modify HOME_ENDPOINT (I don't know why it hasn't been modified by sed command)
[code]
to
[code]
It's work. Photos are also starting to download。
[code]
[code]

[2022-07-16 04:16] mandarons commented on #78
@iPixelOldC That's a great news! I know how to fix it now. Thank you for helping me identify the root cause. I will create a build for you to test soon.

[2022-07-16 04:36] mandarons commented on #76
@andressoler : I am able to reproduce the issue now. For some reason, downloaded package files are always less than the one on server. I am looking into the fix now.

[2022-07-17 01:55] #78 closed, assigned to mandarons

[2022-07-17 03:07] mandarons commented on #78
@iPixelOldC : please try with `docker pull mandarons/icloud-drive:main` and see if that fixes the issue.

[2022-07-17 05:45] iPixelOldC commented on #78
@mandarons same webservices error. But I can use it after repeating the above operation (sed -i -e "s#icl... vi base.py...). This 'region: china' parameter may not be work?

[code]
[code]
[code]
base.py
[code]

[2022-07-17 14:03] mandarons commented on #78
@iPixelOldC That's weird. I am able to see authentication error when I select 'region: china'. Can you please check if the change in config is reflecting in the container? You can do that by checking the `/app/config.yaml` inside the container.

[2022-07-17 14:11] iPixelOldC commented on #78
@mandarons I think so too, it's too strange. I checked the configuration, including the sync script inside the container, and I also checked that it was up to date. Then I also deleted my configuration file and used the configuration file that came with your container, and then went into the container to modify the region, and the same error occurred. Then I went to try using the sed command and t

[2022-07-17 14:22] iPixelOldC commented on #78
@mandarons same docker compose file
[code]
log: After the modification it worked, the error was reported because I didn't have this album
[code]

[2022-07-17 14:30] mandarons commented on #78
@iPixelOldC Ah.. Looks like you're getting error while authenticating using `icloud` command line. Please add `--region=china` to command line authentication step, like below  and try again.

`icloud --username=*** --session-directory=/app/session_data --region=china`

[2022-07-17 15:06] iPixelOldC commented on #78
@mandarons Wow, so there's a new parameter? I didn't know that at all. But I seem to be logging in too much now and having some weird problems, obviously the password is correct but he says I'm wrong. Copy and paste too. Changed to another account also. Then I go back to the web login and the same password is logged in. It's so weird. So I created a new container and repeated the previous operatio

[2022-07-18 03:23] mandarons commented on #58
@edsw are you still seeing this issue?

[2022-07-18 03:25] mandarons commented on #76
@andressoler : please try with `docker pull mandarons/icloud-drive:main` and see if that fixes the issue. I will make a new official release soon.

[2022-07-18 09:30] andressoler commented on #76
@mandarons, I think something is going wrong here...

Have a look to the logs (some dummy songs from my son's iPhone saved with GarageBand for iOS):

[code]

It seems like it tries to download a zip version of the package (which is ok), but something does not match and finally it removes all files...

It repeats the same process again on the next try...

[2022-07-18 14:03] mandarons commented on #76
@andressoler : That's weird. I tried with a sample [Project.band.zip](https://github.com/mandarons/icloud-drive-docker/blob/main/tests/data/Project.band.zip) file, the file your shared [393066_00.pxm.zip](https://github.com/mandarons/icloud-drive-docker/files/8644802/393066_00.pxm.zip). It seems to work. But in your case, it is failing to unzip.

Is it working okay for other 'package' files? Can y

[2022-07-19 07:34] andressoler commented on #76
Hummm... This is very weird... I agree...

That's what I found:

1- Application downloads zip files (I attached one of them)... I can unzip it from my Mac, and even I can open it and use it... So application seems to work fine...
2- I have noticed that some photos are downloaded again (this is a strange behavior, because pictures are identical)

[20210129_201905366.band.zip](https://github.com/man

[2022-07-20 01:43] mandarons commented on #76
@andressoler Thank you. I updated the `main` branch not to delete the `zip` file if extraction fails. This will keep the ball rolling. For some reason, `package` files created on iOS are zipped differently than `package` files created on Mac OS. I am seeking help on [stackoverflow.com](https://stackoverflow.com/questions/73045120/how-to-unzip-gzip-compressed-data-from-fat-filesystem-ms-dos-os-2-nt

[2022-07-20 03:07] mandarons commented on #76
@andressoler : I have the fix now (thanks to StackOverflow community). I will make another release for you to test, soon.

[2022-07-20 07:14] andressoler commented on #76
That sounds great @mandarons!!... I will be here to help you to improve this amazing project!!! Thanks!!!

[2022-07-20 15:57] mandarons commented on #76
@andressoler - okay, `main` branch is ready for you with the fix. Please give it a try and let me know if it fixes the issue.

[2022-07-20 16:03] #58 closed, assigned to mandarons

[2022-07-21 15:54] andressoler commented on #76
Hummm... Am I doing something wrong? Have a look to my docker log:

[code]

[2022-07-22 16:48] mandarons commented on #76
@andressoler : please try now with `mandarons/icloud-drive:main`.

[2022-07-24 17:13] uwe-schwarz commented on #76
I tried :main, but it is too slow to test a second run (at least with my normal config, downloading basically all of my drive). It now downloads all pages/numbers/swiftpm packages and extracts them. IMO it would be better to have an option to leave them as zip (as before) and don't use file size for comparison, but just modification time?

[2022-07-24 17:23] mandarons commented on #76
@uwe-schwarz Thanks for testing the fix.

Making extraction optional for packages might be a good idea. For now, it is out of scope of this bug.

[2022-07-24 17:23] #76 closed, assigned to mandarons

[2022-07-24 18:37] andressoler commented on #76
Here is what I see from my side:

[code]

It seems it cannot download the package file again because a directory already exists...

I can see all my folders in my file system, but all of them are empty, so packages haven't been unzipped properly, I suppose:

[code]

[2022-07-25 05:48] uwe-schwarz commented on #76
I did one more test with a subset (just Numbers-Files) and got this (second run):

[code]

The other numbers files are downloaded as single file, this one seems to be a package. It didn't get successfully downloaded, instead there was this folder:

[code]

[2022-07-31 17:26] mandarons commented on #76
@andressoler : please try removing all the `*.band` from your local folder and try again. It looks like previous incorrect downloads are causing some problem.

[2022-07-31 17:29] mandarons commented on #76
@uwe-schwarz can you please attach the problematic `xxx1.numbers` file for me to reproduce the issue on my end? It look like that file is something different from other `.numbers` file.

[2022-08-01 09:43] andressoler commented on #76
@mandarons, when I remove the directories, it download the packages again, and it shows no errors unzipping them, but it creates all de directions again with no files inside:

[code]

Do you think there is a problem with unzip procedure?

@uwe-schwarz, are you experiencing the same with your package files?

thanks!

[2022-08-01 09:54] uwe-schwarz commented on #76
@mandarons, sorry I already resolved this issue by recreating the spreadsheet.

I haven't had any time to get to a few other errors I still have:
2022-08-01 09:13:40,763 :: ERROR :: root :: sync_drive.py :: 171 :: Failed to download /app/icloud/drive/xx1/xx2/xx3.numbers: [Errno 2] No such file or directory

As far as I could debug the issue: not all packages unzip to the same name folder. As in my

[2022-08-07 08:19] flyingwasabi opened #89 "how to download entire iCloud Drive?"
instead of setting some specific folders and file extensions, is it possible to just download the entire iCloud Drive?

thanks,

[2022-08-09 06:59] 4ordy opened #90 "[FEATURE] photos extension filter"
I've tried the file extention filter on the photos part, but it doesn't seem to work.  Could it be extended to that also as my wife takes a billion screenshot of "stuff" and I don't want to waste storage on these?  Basically I want to filter out the png files.

Thanks so much for this project, it is awesome.

Cheers.

[2022-08-10 08:43] Mrc527 commented on #89
Sure, I do exactly that using this configuration:
`drive:
destination: "drive"
remove_obsolete: true
sync_interval: 3600`

[2022-08-10 08:59] Mrc527 opened #92 "[FEATURE] support for parallel downloads"
**Use case**
As a user, I want to download the entire content of my iCloud account to have a local backup.
This means, as I own a 2TB account, I have to potentially download a lot of files and pictures. Unfortunately, this tool executes the file download sequentially which causes the sync job to last weeks.

**Describe the solution you'd like**
I would like to enable parallel downloads of files. T

[2022-08-10 15:44] flyingwasabi commented on #89
thanks a lot!

[2022-08-10 15:45] flyingwasabi opened #93 "Download Photos into date folders?"
is it possible that, when downloading photos, sort them into subfolders of dates taken? like 2022-08, 2022-07, 2022-06, etc.

[2022-08-16 21:06] isaaccs opened #94 "[BUG] mounting error"
**Describe the bug**
[code]

**To Reproduce**
It appears on Unraid

**Screenshots**
<img width="1113" alt="Capture d’écran 2022-08-16 à 23 05 27" src="https://user-images.githubusercontent.com/16362659/184985040-72973753-fb24-466c-964f-189546e5ddf8.png">

[2022-09-11 15:21] mandarons commented on #94
@isaaccs : Try creating `config.yaml` file first and then mount it on container.

[2022-09-11 19:01] #89 closed, assigned to nobody

[2022-09-11 19:09] mandarons commented on #93
Features related to reorganizing files in a structure different from iCloud drive structure, is out of scope for this project. However, it can easily be done with some script that will run periodically/on-demand.

[2022-09-11 19:09] #93 closed, assigned to mandarons

[2022-09-28 18:15] bjsharplin commented on #94
For "Config Path:"-Click Edit button-Change "Container Path", "HostPath","Default Value".  When you edit the config.yaml in the console, it's /app/config.yaml.
![Snag_1598d9b](https://user-images.githubusercontent.com/43818647/192857939-77d27b80-1f99-47e2-bce6-2edb88b6702d.png)

[2022-09-30 07:55] isaaccs commented on #94
Do you mean to create a folder with the config file ?

[2022-10-01 14:43] mandarons commented on #94
Correct - as shown in [installation using docker compose](https://github.com/mandarons/icloud-drive-docker#installation-using-docker-compose), it should be:

Container Path: `/app/config.yaml`
Host Path: `/mnt/user/appdata/icloud-drive-sync/config.yaml`

[2022-10-01 23:58] bjsharplin commented on #94
Have you tried that setting?  That will throw an error using unRaid docker.  It seems to want to create a drive/folder not a file.

[2022-10-03 13:56] mandarons commented on #94
No. Sorry, I never used unRaid and cannot try it on my end. Is there any other way to specify volumes in unRaid? Probably some CLI to bypass the GUI?

[2022-10-03 16:23] isaaccs commented on #94
I changed my settings as suggested
then i put my config file in in icloud-drive-sync folder
<img width="1425" alt="Capture d’écran 2022-10-03 à 18 20 26" src="https://user-images.githubusercontent.com/16362659/193628652-b0ea6329-0905-4af6-9255-62f763451903.png">
I run my docker, then open my console and run:
`icloud --username= --session-directory=/app/session_data `
And I have the following err

[2022-10-03 16:37] bjsharplin commented on #94
When you run this command from the console, be sure to set your icloud username after the equals sign

icloud --username=!!!!!!!!!!! --session-directory=/app/session_data

[2022-10-03 16:50] isaaccs commented on #94
of course it's what i did

[2022-10-03 16:52] bjsharplin commented on #94
did you update the /app/config.yaml file to include your icloud account and the icloud folders you want to sync over?

[2022-10-03 16:53] isaaccs commented on #94
yes

[2022-10-03 16:55] bjsharplin commented on #94
the password is stored to the keyring when you run this command.  perhaps you need to run it again.  it should prompt for password, ask to save to keyring, and 2fa code (if you have that turned on).

[2022-10-03 17:09] isaaccs commented on #94
I restart my container and I have the same error

[2022-10-03 17:11] isaaccs commented on #94
[code]

[2022-10-03 17:11] isaaccs commented on #94
my config file

[code]

[2022-10-03 19:37] bjsharplin commented on #94
This is what my config.yaml look like.  I have folders specified under the "drive" section, and "All Photos" for pictures.  I did move all my folders into and "iCloud" folder to make this setup very simple, but you could list them all out.  Maybe the filters section is optional??
![image](https://user-images.githubusercontent.com/43818647/193663477-a42d655a-d98c-43c9-8dfd-745e13f90bae.png)

[2022-10-04 12:47] isaaccs commented on #94
I don't specify any filters because I want to backup all my iCloud data

[2022-10-04 13:37] mandarons commented on #94
@isaaccs :
Also mount -

`${PWD}/icloud/data:/app/icloud` (if you want to save the iCloud data outside container)
`${PWD}/session_data:/app/session_data` (this will eliminate the need of entering password after container recreation)

Pleas make sure to say 'yes' to save password in keyring when you execute `icloud --username=<your_email> --session-directory=/app/session_data` inside the container.

[2022-10-04 15:05] rastacalavera commented on #94
Hello!
Thank you for making this available :) I too am having an issue. I was able to get the container up and running by following some of the advice in this thread but now after authenticating, the container is just constantly restarting. Logs below:
[code]
My folder structure looks like this:
[code]
and my compose file:
[code]
I removed the second `icloud` folder that was in the sample compose

[2022-11-06 01:02] draco1544 opened #96 "Synchronize the content of a folder"
Hi !

How I can synchronize my iCloud Drive folder "Document/Test" into the container folder "icloud" without the container folder look like "icloud/Document/Test". I juste want the content of "Document/Test" in the "icloud" folder of the container. How I can do that in the config file ?

[2022-11-14 09:14] ymurawski opened #97 "[BUG] COPY EVERYTHING"
Hi, i have many Folders in photos and drive. is it possible to pull everything without specify wich folder ind the yaml. Like a complete 1:1 copy from iCloud ?

[2022-11-14 10:23] tymmej opened #98 "[BUG] Inifinite overwrite when photos has same names"
**Describe the bug**
Photo Library can contain multiple photos with same @property filename.
Eg. default names `IMG_xyza.HEIC` when using multiple phones.

**To Reproduce**
Add photos with same names to library and run docker image.
You will see three things:
1) number of downloaded files is different than in iCloud
2) docker constantly downloads same files
3) number of downloaded files is constan

[2022-11-14 10:31] tymmej opened #99 "[FEATURE] Downloads photos while maintaining photo albums"
**Use case**
I want to backup all photos but also preserve albums structure.

**Describe the solution you'd like**
When not providing filter and providing extra flag docker should backup photos not to `all` folder but according to album structure.
It would be nice if docker would support nested albums as nested folders. Otherwise it can create flat folder structure replacing `/` with `-`, eg. `Fol

[2022-11-16 09:21] tymmej opened #101 "[BUG] Removed files from package when remove_obsolete: true"
**Describe the bug**
Files from unpacked package are deleted at end of sync.

**To Reproduce**
Do normal sync_drive with remove_obsolete: true

**Expected behavior**
Files from package are not removed

**Screenshots**
![Screenshot_20221116_101819](https://user-images.githubusercontent.com/443698/202140510-b8bbb651-d06a-4976-8ec0-91dbe2c06010.png)

**Configuration**
remove_obsolete: true

Sync all

[2022-11-16 10:45] tymmej commented on #101
Looks like https://github.com/tymmej/icloud-drive-docker/commit/039236206432a9ba189c37d6738fa41211ed274b solves it.

Source of problem:
Unpacked folder has the same name as package, but to `files` variable we only add package name, not what's inside it.

To fix it:
a) if package is up to date and we do not download it we add to `files` what's on disk
b) if package is not up to date and we  downloa

[2022-11-21 15:43] mandarons commented on #94
@rastacalavera : looks like server side issue. You will need to wait (not sure, how long) for server side indexing to finish.

[2022-11-21 15:44] mandarons commented on #96
Currently, there is no way to do that. The app will preserve folder structure, same as server. This is required to compare if the file has changed locally, with server and decide of redownload is required or not.

[2022-11-21 15:44] #96 closed, assigned to nobody

[2022-11-22 05:12] mandarons commented on #97
@ymurawski: Try with empty `Filters` value.